@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
  --primary-color: #0A3D62;
  --secondary-color: #F0E5CF;
  --accent-color: #60A3D9;
  --complementary-color: #1F2937;
  --highlight-color: #F5A623;
} */